@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;1,400;1,800&display=swap");

:root {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: #fff;
  background-color: #141d26;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 601px;
  height: auto;
  padding: 35px 31px;
  gap: 15px;
  border-radius: 10px;
  background: #243447;
  box-shadow: 0px 15px 60px 0px rgba(52, 81, 116, 0.15);
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 22px;
}

.ava {
  width: 50px;
  height: 50px;
}

.icon {
  width: 30px;
  height: 30px;
}

.username {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 1px;
}

.username .name {
  line-height: normal;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.username .uname {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tweet .tag {
  text-decoration: none;
  color: #1da1f2;
}

.insight {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.like {
  display: flex;
  align-items: center;
  gap: 10px;
}

.like svg:hover {
  fill: crimson;
  filter: drop-shadow(0 0 10px crimson);
  cursor: pointer;
}
